Repository Iterable/react-native-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, version-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc
    version-check:
      glob: "package.json"
      run: node scripts/checkVersionAndUpdateBuildInfo.js
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

the steps didn't seem to work out, going back to loren's steps
  .github/workflows/codeql.yml
Due: none

complained about bundle exec by itself
  .github/workflows/codeql.yml
Due: none

complained about a depenency, tryingto just do a pod install
  .github/workflows/codeql.yml
Due: none

did not build the example app. made changes to the android script.
  .github/workflows/codeql.yml
Due: none

android is working now, ios seems to stall out building
  .github/workflows/codeql.yml
Due: none

out of date dependency, doesn't perform the full install for ios
  .github/workflows/codeql.yml
Due: none

feat: enhance AppDelegate
  example/ios/ReactNativeSdkExample.xcodeproj/project.pbxproj
  example/ios/ReactNativeSdkExample/AppDelegate.swift
Due: none

feat: add support for launch options in new architecture and enhance Iterable SDK initialization
  android/build.gradle
  example/src/hooks/useIterableApp.tsx
  example_implementation.md
  ios/RNIterableAPI/ReactIterableAPI.swift
  src/api/NativeRNIterableAPI.ts
  src/core/classes/Iterable.ts
  yarn.lock
Due: lint, types

out of date dependency, doesn't perform the full install for ios v2
  .github/workflows/codeql.yml
Due: none

I think this is a final.
  .github/workflows/codeql.yml
Due: none

chore: updated references for beta release
  CHANGELOG.md
  README.md
  package.json
  src/itblBuildInfo.ts
Due: lint, types, version-check

chore: enhance release-it configuration to enable tagging, committing, and pushing during releases
  package.json
Due: version-check

feat: add authentication failure and retry policy enums and types
  src/core/enums/IterableAuthFailureReason.ts
  src/core/enums/IterableRetryBackoff.ts
  src/core/enums/index.ts
  src/core/types/IterableAuthFailure.ts
  src/core/types/IterableRetryPolicy.ts
  src/core/types/index.ts
Due: lint, types

Incorporating comments from lposen
  .github/workflows/codeql.yml
Due: none

Changing the build command for ios, changed the gradle command back to clean
  .github/workflows/codeql.yml
Due: none

chore: update eslint-config-prettier and add prettier-eslint dependency
  package.json
  yarn.lock
Due: version-check

feat: export new authentication and retry policy types in index files
  src/core/types/index.ts
  src/index.tsx
Due: lint, types

Build for Android succeeds on clean, doublechecking build. ios build steps modified
  .github/workflows/codeql.yml
Due: none

feat: enhance IterableConfig with JWT error handling and retry policy support
  src/core/classes/IterableConfig.ts
Due: lint, types

feat: add onAuthFailure and pauseAuthRetries methods to Iterable class
  src/api/NativeRNIterableAPI.ts
  src/core/classes/Iterable.ts
Due: lint, types

feat: implement retry policy and JWT error handling in IterableAppProvider
  example/src/hooks/useIterableApp.tsx
Due: lint, types

chore: update Iterable API dependency version to 3.6.1
  android/build.gradle
Due: none

feat: implement onAuthFailure handling and pauseAuthRetries method in RNIterableAPIModule
  android/src/main/java/com/iterable/reactnative/RNIterableAPIModuleImpl.java
  android/src/main/java/com/iterable/reactnative/Serialization.java
  android/src/newarch/java/com/RNIterableAPIModule.java
  android/src/oldarch/java/com/RNIterableAPIModule.java
Due: none

feat: fix nullpointerexception on com.iterable.iterableapi.IterableInAppMessage.getMessageId()
  android/src/main/java/com/iterable/reactnative/Serialization.java
  src/inApp/classes/IterableInAppMessage.ts
  src/inbox/components/IterableInboxMessageList.tsx
Due: lint, types

refactor: remove commented-out encryptionEnforced code from Serialization class
  android/src/main/java/com/iterable/reactnative/Serialization.java
Due: none

Cleaned up the build steps so that the codeql database is populated and comments are addressed
  .github/workflows/codeql.yml
Due: none

feat: improve JWT error handling and enhance IterableConfig with additional flags
  src/core/classes/Iterable.ts
  src/core/classes/IterableConfig.ts
Due: lint, types

refactor: fix onAuthFailure call
  android/src/main/java/com/iterable/reactnative/RNIterableAPIModuleImpl.java
  android/src/newarch/java/com/RNIterableAPIModule.java
  android/src/oldarch/java/com/RNIterableAPIModule.java
Due: none

refactor: remove onAuthFailure method and update event handler setup in Iterable class
  src/api/NativeRNIterableAPI.ts
  src/core/classes/Iterable.ts
Due: lint, types

chore: remove unused index.ts file from hooks directory
  src/hooks/index.ts
Due: lint, types

refactor: simplify authHandler type and standardize IterableAuthFailureReason values
  src/core/classes/IterableConfig.ts
  src/core/enums/IterableAuthFailureReason.ts
Due: lint, types

refactor: simplify authHandler type and standardize IterableAuthFailureReason enum values
  src/core/classes/IterableConfig.ts
  src/core/enums/IterableAuthFailureReason.ts
Due: lint, types

feat: enhance JWT error handling with detailed alerts for auth failures
  example/src/hooks/useIterableApp.tsx
Due: lint, types

refactor: remove onJWTErrorPresent flag from IterableConfig to streamline configuration
  src/core/classes/IterableConfig.ts
Due: lint, types

chore: remove temporary fix for Iterable-iOS-SDK from Podfile
  example/ios/Podfile
Due: none

chore: update Iterable-iOS-SDK dependency to version 6.6.1 in podspec
  Iterable-React-Native-SDK.podspec
Due: none

chore: remove tempfix and update Embed Pods Frameworks build phase in Xcode project
  example/ios/Podfile
  example/ios/ReactNativeSdkExample.xcodeproj/project.pbxproj
Due: none

feat: implement user notification handling and remote notification registration in AppDelegate
  example/ios/ReactNativeSdkExample/AppDelegate.swift
Due: none

feat: add pauseAuthRetries method and enhance auth failure handling in ReactIterableAPI
  ios/RNIterableAPI/RNIterableAPI.mm
  ios/RNIterableAPI/ReactIterableAPI.swift
Due: none

chore: update Xcode project configuration and enable authHandler in IterableAppProvider
  example/ios/ReactNativeSdkExample.xcodeproj/project.pbxproj
  example/src/hooks/useIterableApp.tsx
Due: lint, types
