Repository Iterable/react-native-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, version-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc
    version-check:
      glob: "package.json"
      run: node scripts/checkVersionAndUpdateBuildInfo.js
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

chore: update dependencies and fix .netlify folder in .gitignore
  .gitignore
  package.json
  yarn.lock
Due: version-check

chore: update react-native-builder-bob to latest version
  package.json
  yarn.lock
Due: version-check

chore: update React Native and related packages to version 0.79.6
  example/package.json
  package.json
  yarn.lock
Due: version-check

chore: add @react-native-community/cli as a dev dependency
  package.json
  yarn.lock
Due: version-check

test: add comprehensive unit tests for IterableInboxMessageList component
  .eslintignore
  src/core/classes/Iterable.ts
  src/inbox/components/IterableInboxMessageList.test.tsx
Due: lint, types

test: add comprehensive unit tests for IterableInboxMessageDisplay component
  src/inbox/components/IterableInboxMessageDisplay.test.tsx
Due: lint, types

test: enhance unit tests for IterableInboxMessageDisplay with additional scenarios
  src/inbox/components/IterableInboxMessageDisplay.test.tsx
Due: lint, types

test: add comprehensive unit tests for IterableInboxEmptyState
  src/inbox/components/IterableInboxEmptyState.test.tsx
Due: lint, types

test: add comprehensive unit tests for IterableInbox
  src/inbox/components/IterableInbox.test.tsx
Due: lint, types

test: expand unit tests for IterableInbox with additional event handling and layout scenarios
  src/inbox/components/IterableInbox.test.tsx
  src/inbox/components/IterableInbox.tsx
  src/inbox/components/IterableInboxEmptyState.tsx
  src/inbox/components/IterableInboxMessageCell.tsx
  src/inbox/components/IterableInboxMessageDisplay.test.tsx
  src/inbox/components/IterableInboxMessageDisplay.tsx
Due: lint, types

feat: implement IterableInboxMessageCell component with styles and unit tests
  src/inbox/components/IterableInboxMessageCell.tsx
  src/inbox/components/IterableInboxMessageCell/DefaultMessageListLayout.styles.ts
  src/inbox/components/IterableInboxMessageCell/DefaultMessageListLayout.tsx
  src/inbox/components/IterableInboxMessageCell/IterableInboxMessageCell.styles.ts
  src/inbox/components/IterableInboxMessageCell/IterableInboxMessageCell.test.tsx
  src/inbox/components/IterableInboxMessageCell/IterableInboxMessageCell.tsx
  src/inbox/components/IterableInboxMessageCell/constants.ts
  src/inbox/components/IterableInboxMessageCell/index.ts
  src/inbox/components/index.ts
Due: lint, types

feat: refactor IterableInboxMessageDisplay component and add styles, tests, and update imports
  src/inbox/components/IterableInbox.test.tsx
  src/inbox/components/IterableInboxMessageCell/DefaultMessageListLayout.tsx
  src/inbox/components/IterableInboxMessageDisplay/IterableInboxMessageDisplay.styles.ts
  src/inbox/components/IterableInboxMessageDisplay/IterableInboxMessageDisplay.test.tsx
  src/inbox/components/IterableInboxMessageDisplay/IterableInboxMessageDisplay.tsx
  src/inbox/components/IterableInboxMessageDisplay/index.ts
  src/inbox/components/index.ts
Due: lint, types

chore: remove IterableInboxEmptyState component and its associated styles and tests
  src/inbox/components/IterableInboxEmptyState/IterableInboxEmptyState.tsx
  src/inbox/components/IterableInboxEmptyState/index.ts
  src/inbox/components/index.ts
Due: lint, types

feat: add IterableInboxEmptyState component with styles and unit tests
  src/inbox/components/IterableInboxEmptyState/IterableInboxEmptyState.styles.ts
  src/inbox/components/IterableInboxEmptyState/IterableInboxEmptyState.test.tsx
  src/inbox/components/IterableInboxEmptyState/IterableInboxEmptyState.tsx
Due: lint, types

feat: add IterableInboxMessageList component to render a list of inbox messages
  src/inbox/components/IterableInboxMessageList/IterableInboxMessageList.tsx
  src/inbox/components/IterableInboxMessageList/index.ts
Due: lint, types

refactor: simplify IterableInboxMessageList component
  src/inbox/components/IterableInboxMessageList/IterableInboxMessageList.tsx
Due: lint, types

test: add comprehensive unit tests for IterableInboxMessageList component
  src/inbox/components/IterableInboxMessageList/IterableInboxMessageList.test.tsx
Due: lint, types

feat: introduce IterableInbox component with message fetching, display, and navigation handling
  src/inbox/components/IterableInbox/IterableInbox.test.tsx
  src/inbox/components/IterableInbox/IterableInbox.tsx
  src/inbox/components/IterableInbox/index.ts
Due: lint, types

feat: add constants and styles for IterableInbox component
  src/inbox/components/IterableInbox/IterableInbox.styles.ts
  src/inbox/components/IterableInbox/IterableInbox.tsx
  src/inbox/components/IterableInbox/constants.ts
Due: lint, types

refactor: optimize session management and improve performance in IterableInbox component
  src/inbox/components/IterableInbox/IterableInbox.tsx
Due: lint, types

refactor: improving prop handling and optimizing function definitions
  src/inbox/components/IterableInbox/IterableInbox.tsx
  src/inbox/components/IterableInboxMessageCell/IterableInboxMessageCell.tsx
  src/inbox/components/IterableInboxMessageList/IterableInboxMessageList.tsx
Due: lint, types

refactor: streamline IterableInbox component
  src/inbox/components/IterableInbox/IterableInbox.tsx
  src/inbox/components/IterableInbox/IterableInbox.types.ts
  src/inbox/components/IterableInbox/index.ts
  src/inbox/components/IterableInboxEmptyState/IterableInboxEmptyState.tsx
Due: lint, types

refactor: enhance device orientation handling and improve styles in IterableInbox component
  src/core/hooks/useDeviceOrientation.tsx
  src/inbox/components/IterableInbox/IterableInbox.styles.ts
  src/inbox/components/IterableInbox/IterableInbox.tsx
  src/inbox/components/IterableInboxEmptyState/IterableInboxEmptyState.tsx
  src/inbox/components/IterableInboxMessageDisplay/IterableInboxMessageDisplay.tsx
  src/inbox/components/IterableInboxMessageList/IterableInboxMessageList.tsx
Due: lint, types

refactor: reorganize imports and enhance code structure in IterableInbox component
  src/inbox/components/IterableInbox/IterableInbox.tsx
Due: lint, types

refactor: update import statements and remove redundant useDeviceOrientation i
  src/inbox/components/IterableInboxMessageDisplay/IterableInboxMessageDisplay.tsx
Due: lint, types

feat: add back icon assets for multiple resolutions and platforms
  src/inbox/assets/back-icon.png
  src/inbox/assets/back-icon@1x.android.png
  src/inbox/assets/back-icon@1x.ios.png
  src/inbox/assets/back-icon@2x.android.png
  src/inbox/assets/back-icon@2x.ios.png
  src/inbox/assets/back-icon@3x.android.png
  src/inbox/assets/back-icon@3x.ios.png
  src/inbox/assets/back-icon@4x.android.png
  src/inbox/assets/back-icon@4x.ios.png
Due: none

refactor: add HeaderBackButton component and integrate it into IterableInboxMessageDisplay
  src/inbox/components/HeaderBackButton.tsx
  src/inbox/components/IterableInboxMessageDisplay.tsx
Due: lint, types

refactor: create HeaderBackButton and replace back-arrow
  src/inbox/components/HeaderBackButton.tsx
  src/inbox/components/IterableInboxMessageDisplay.tsx
Due: lint, types

chore: add prettier-eslint and update dependencies in package.json and yarn.lock
  package.json
  yarn.lock
Due: version-check

chore: remove unused back icon assets for various resolutions and platforms
  src/inbox/assets/back-icon.png
  src/inbox/assets/back-icon@1x.android.png
  src/inbox/assets/back-icon@1x.ios.png
  src/inbox/assets/back-icon@2x.android.png
  src/inbox/assets/back-icon@2x.ios.png
  src/inbox/assets/back-icon@3x.android.png
  src/inbox/assets/back-icon@3x.ios.png
  src/inbox/assets/back-icon@4x.android.png
  src/inbox/assets/back-icon@4x.ios.png
Due: none

feat: replace icon references with base64 encoded images
  example/src/components/App/App.constants.ts
  example/src/components/App/App.utils.tsx
  example/src/components/App/Main.tsx
Due: lint, types

chore: remove react-native-vector-icons dependency and related configurations
  README.md
  example/android/app/build.gradle
  example/package.json
  jest.config.js
  package.json
  yarn.lock
Due: lint, types, version-check

test: add comprehensive tests for HeaderBackButton component
  .eslintrc.js
  src/inbox/components/HeaderBackButton.test.tsx
Due: lint, types

Update src/inApp/classes/IterableInAppManager.ts
  src/inApp/classes/IterableInAppManager.ts
Due: lint, types

chore: update version to 2.0.4 in package.json and itblBuildInfo.ts
  package.json
  src/itblBuildInfo.ts
Due: lint, types, version-check

chore: update CHANGELOG for version 2.0.4
  CHANGELOG.md
Due: none

chore: update CHANGELOG to remove unit tests entry for version 2.0.4
  CHANGELOG.md
Due: none

docs: removed a TODO and enhanced documentation for IterableLogger
  src/core/classes/IterableLogger.ts
Due: lint, types

fix: change default log level from info to debug in IterableConfig
  src/core/classes/IterableConfig.ts
Due: lint, types

refactor: update default log level to debug in IterableLogger and related tests
  src/core/classes/Iterable.test.ts
  src/core/classes/IterableLogger.test.ts
  src/core/classes/IterableLogger.ts
Due: lint, types
