Repository Iterable/react-native-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, version-check

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

version-check:
  run: node scripts/checkVersionAndUpdateBuildInfo.js

refactor: remove unused mock for react-native-vector-icons
  src/inbox/components/IterableInboxMessageDisplay.test.tsx
  src/inbox/components/IterableInboxMessageDisplay.tsx
Due: lint, types

refactor: clean up IterableInbox test by removing unused debug statement
  src/inbox/components/IterableInbox.test.tsx
Due: lint, types

test: added test ids to elements
  src/inbox/components/IterableInboxMessageCell.tsx
Due: lint, types

test: update test IDs for IterableInboxMessageDisplay component and improve test readability
  src/inbox/components/IterableInboxMessageDisplay.test.tsx
  src/inbox/components/IterableInboxMessageDisplay.tsx
Due: lint, types

test: enhance IterableInboxMessageList tests with viewability handling
  src/inbox/components/IterableInboxMessageList.test.tsx
Due: lint, types

docs: update .env.example and README.md to include JWT authentication details
  example/.env.example
  example/README.md
Due: none

feat: add JWT generation method for user authentication in RNIterableAPIModule
  android/src/main/java/com/iterable/reactnative/RNIterableAPIModuleImpl.java
  android/src/newarch/java/com/RNIterableAPIModule.java
  android/src/oldarch/java/com/RNIterableAPIModule.java
  src/api/NativeRNIterableAPI.ts
Due: lint, types

refactor: simplify JWT generation method by consolidating parameters into a ReadableMap
  android/src/main/java/com/iterable/reactnative/RNIterableAPIModuleImpl.java
  android/src/newarch/java/com/RNIterableAPIModule.java
  android/src/oldarch/java/com/RNIterableAPIModule.java
Due: none

feat: add documentation for JWT generation and introduce most used modules guide
  README.md
  android/src/main/java/com/iterable/reactnative/RNIterableAPIModuleImpl.java
  android/src/newarch/java/com/RNIterableAPIModule.java
  android/src/oldarch/java/com/RNIterableAPIModule.java
  assets/Iterable-Logo.png
  assets/favicon.ico
  docs-deployment.md
  example/README.md
  example/ios/ReactNativeSdkExample.xcodeproj/project.pbxproj
  example/jwt.jpeg
  ios/RNIterableAPI/RNIterableAPI.mm
  ios/RNIterableAPI/ReactIterableAPI.swift
  most-used-modules.md
  package.json
  src/api/NativeRNIterableAPI.ts
  src/core/classes/Iterable.ts
  src/core/classes/IterableApi.ts
  src/core/classes/IterableAuthManager.ts
  src/core/classes/IterableConfig.ts
  src/core/classes/IterableTrackingManager.ts
  src/core/classes/index.ts
  src/core/types/IterableGenerateJwtTokenOpts.ts
  src/core/types/index.ts
  src/index.tsx
  tsdoc.json
  typedoc.config.mjs
  yarn.lock
Due: lint, types, version-check

feat: enhance Iterable SDK with user management features and improve documentation
  most-used-modules.md
  src/core/classes/Iterable.ts
  src/core/classes/IterableActionContext.ts
  src/core/classes/IterableAuthManager.ts
  src/core/classes/IterableUserManager.ts
  src/core/classes/index.ts
  src/inApp/classes/IterableInAppManager.ts
  src/index.tsx
  typedoc.config.mjs
Due: lint, types

feat: update dependencies and enhance documentation in Iterable SDK
  package.json
  src/core/classes/IterableActionContext.ts
  src/core/classes/IterableAuthManager.ts
  src/core/classes/IterableAuthResponse.ts
  src/core/classes/IterableConfig.ts
  src/core/classes/IterableLogger.ts
  src/core/classes/IterableTrackingManager.ts
  src/inApp/types/IterableInAppMessageRaw.ts
  src/inbox/components/IterableInbox.tsx
  src/inbox/components/IterableInboxEmptyState.tsx
  src/inbox/components/IterableInboxMessageCell.tsx
  src/inbox/types/IterableInboxCustomizations.ts
  yarn.lock
Due: lint, types, version-check

feat: add documentation for JWT generation and introduce most used modules guide
  src/core/classes/IterableAuthManager.ts
  src/core/enums/IterableRetryBackoff.ts
  tsdoc.json
  typedoc.config.mjs
Due: lint, types

feat: enhance TSDoc configuration with new tag definitions
  src/inApp/classes/IterableInAppManager.ts
  tsdoc.json
  typedoc.config.mjs
Due: lint, types

fix: update Iterable class to use IterableAuthManager directly
  src/core/classes/Iterable.ts
  src/core/classes/IterableAuthManager.ts
Due: lint, types

feat: add typedoc validation and refactor component to include PropsWithChildren
  lefthook.yml
  package.json
  src/inbox/components/HeaderBackButton.tsx
  src/inbox/components/IterableInbox.tsx
  src/inbox/components/IterableInboxEmptyState.tsx
  src/inbox/components/IterableInboxMessageCell.tsx
  src/inbox/components/IterableInboxMessageDisplay.tsx
  src/inbox/components/IterableInboxMessageList.tsx
  src/index.tsx
  tsdoc.json
  typedoc.config.mjs
Due: lint, types, version-check

feat: update TypeDoc configuration and enhance documentation with new tags and plugins
  package.json
  src/core/classes/Iterable.ts
  src/core/classes/IterableAuthResponse.ts
  src/core/classes/IterableUserManager.ts
  src/index.tsx
  tsdoc.json
  typedoc.config.mjs
  yarn.lock
Due: lint, types, version-check

feat: add @since tag to documentation and improve Iterable SDK comments
  src/core/classes/Iterable.ts
  src/core/classes/IterableAuthManager.ts
  src/core/classes/IterableConfig.ts
  tsdoc.json
Due: lint, types

chore: update documentation output directory to 'docs-gen' and adjust related configurations
  .github/workflows/deploy-docs.yml
  .gitignore
  netlify.toml
  typedoc.config.mjs
Due: none

chore: add Docusaurus support and update TypeScript configuration to exclude generated files
  .gitignore
  docs/intro.md
  docs/tutorial-basics/_category_.json
  docs/tutorial-basics/congratulations.md
  docs/tutorial-basics/create-a-blog-post.md
  docs/tutorial-basics/create-a-document.md
  docs/tutorial-basics/create-a-page.md
  docs/tutorial-basics/deploy-your-site.md
  docs/tutorial-basics/markdown-features.mdx
  docs/tutorial-extras/_category_.json
  docs/tutorial-extras/img/docsVersionDropdown.png
  docs/tutorial-extras/img/localeDropdown.png
  docs/tutorial-extras/manage-docs-versions.md
  docs/tutorial-extras/translate-your-site.md
  docusaurus.config.ts
  docusaurus/sidebars.ts
  package.json
  static/.nojekyll
  static/assets/Iterable-Logo.png
  static/assets/favicon.ico
  tsconfig.json
  yarn.lock
Due: lint, types, version-check

refactor: simplify timeout handling in Iterable class by removing unnecessary variable
  src/core/classes/Iterable.ts
Due: lint, types

chore: update TypeDoc configuration and enhance documentation with new categories and modules
  another-md.md
  expand-nav.js
  most-used-modules.md
  package.json
  src/core/classes/Iterable.ts
  src/inbox/components/IterableInbox.tsx
  tsdoc.json
  typedoc.config.mjs
  yarn.lock
Due: lint, types, version-check

chore: add new guide documents
  Authenticating.md
  CHANGELOG.md
  In-app Inbox.md
  Quick Start.md
  typedoc.config.mjs
Due: none

feat: update JWT generation method
  android/src/main/java/com/iterable/reactnative/RNIterableAPIModuleImpl.java
  android/src/newarch/java/com/RNIterableAPIModule.java
  android/src/oldarch/java/com/RNIterableAPIModule.java
  src/api/NativeRNIterableAPI.ts
  src/core/classes/IterableApi.ts
  src/core/classes/IterableAuthManager.ts
  tsdoc.json
Due: lint, types

feat: implement JWT token generation with email or userId support
  example/src/hooks/useIterableApp.tsx
  src/core/classes/Iterable.ts
  src/core/classes/IterableApi.ts
  src/core/classes/IterableAuthManager.ts
  src/core/types/IterableGenerateJwtTokenArgs.ts
  src/core/types/index.ts
  src/index.tsx
  tsdoc.json
Due: lint, types

feat: add unit tests for JWT token generation and related methods in IterableAuthManager
  src/__mocks__/MockRNIterableAPI.ts
  src/__tests__/IterableAuthManager.test.ts
Due: lint, types

feat: implement generateJwtToken method in ReactIterableAPI
  ios/RNIterableAPI/RNIterableAPI.mm
  ios/RNIterableAPI/ReactIterableAPI.swift
Due: none

refactor: update auth token handling and improve conditional check in ReactIterableAPI
  ios/RNIterableAPI/ReactIterableAPI.swift
Due: none

feat: update initialization method in ReactIterableAPI
  example/src/hooks/useIterableApp.tsx
  ios/RNIterableAPI/ReactIterableAPI.swift
Due: lint, types

refactor: remove unused method and update JWT token example
  android/src/main/java/com/iterable/reactnative/RNIterableAPIModuleImpl.java
  src/core/classes/IterableAuthManager.ts
Due: lint, types

chore: removed accidentally added change
  tsdoc.json
Due: none

chore: update yarn.lock to remove deprecated @typescript-eslint/parser version 6.21.0
  yarn.lock
Due: none

chore: update TypeDoc configuration and dependencies; add new documentation files
  docs-static/Authenticating.md
  docs-static/In-app Inbox.md
  docs-static/Most Used Modules.md
  docs-static/Quick Start.md
  docs-static/expand-nav.js
  package.json
  tsdoc.json
  typedoc.config.mjs
  yarn.lock
Due: lint, types, version-check

chore: update TypeDoc configuration to reference documentation files in the docs-static directory
  typedoc.config.mjs
Due: none

docs: enhance type definitions and improve documentation in Iterable components
  src/core/classes/Iterable.ts
  src/core/classes/IterableConfig.ts
  src/inbox/components/IterableInbox.tsx
  src/inbox/types/IterableInboxCustomizations.ts
  src/index.tsx
Due: lint, types

docs: add GitHub Actions workflow for validating documentation
  .github/workflows/validate-docs.yml
  src/core/classes/IterableConfig.ts
Due: lint, types

docs: update documentation structure and remove outdated guides
  CHANGELOG.md
  docs-static/Authenticating.md
  docs-static/In-app Inbox.md
  docs-static/Most Used Modules.md
  docs-static/Quick Start.md
  src/core/classes/IterableConfig.ts
  typedoc.config.mjs
Due: lint, types

docs: update TypeDoc configuration and enhance documentation for Hooks and Android features
  src/core/classes/Iterable.ts
  src/core/classes/IterableConfig.ts
  src/core/hooks/useAppStateListener.ts
  src/core/hooks/useDeviceOrientation.tsx
  typedoc.config.mjs
Due: lint, types

docs: update TSDoc configuration to include mermaid plugin and simplify tag definitions
  tsdoc.json
Due: none

chore: update yarn.lock and enhance example configuration documentation
  example/.env.example
  example/README.md
  yarn.lock
Due: none

chore: add .env.local to .gitignore and update example configuration comments
  .gitignore
  example/.env.example
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  version-check: any of: package.json
