Repository Iterable/react-native-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, version-check

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

version-check:
  run: node scripts/checkVersionAndUpdateBuildInfo.js

feat: added buttons to banner
  src/embedded/classes/IterableEmbeddedViewConfig.ts
  src/embedded/components/IterableEmbeddedBanner/IterableEmbeddedBanner.styles.tsx
  src/embedded/components/IterableEmbeddedBanner/IterableEmbeddedBanner.tsx
  src/embedded/components/IterableEmbeddedCard/IterableEmbeddedCard.tsx
  src/embedded/components/IterableEmbeddedView/IterableEmbeddedView.tsx
  src/embedded/constants/embeddedViewDefaults.ts
Due: lint, types

feat: enhance IterableEmbedded components with button click handling and logging
  android/src/main/java/com/iterable/reactnative/RNIterableAPIModuleImpl.java
  example/src/components/Embedded/Embedded.tsx
  example/src/hooks/useIterableApp.tsx
  src/api/NativeRNIterableAPI.ts
  src/core/enums/IterableActionType.ts
  src/core/enums/index.ts
  src/core/utils/index.ts
  src/core/utils/isIterableAction.ts
  src/embedded/classes/IterableEmbeddedMessage.ts
  src/embedded/classes/IterableEmbeddedMessageElements.ts
  src/embedded/classes/IterableEmbeddedMessageElementsButton.ts
  src/embedded/classes/IterableEmbeddedMessageElementsButtonAction.ts
  src/embedded/classes/IterableEmbeddedMessageElementsDefaultAction.ts
  src/embedded/classes/IterableEmbeddedMessageElementsText.ts
  src/embedded/classes/IterableEmbeddedPlacement.ts
  src/embedded/components/IterableEmbeddedBanner/IterableEmbeddedBanner.tsx
  src/embedded/components/IterableEmbeddedView/IterableEmbeddedView.tsx
  src/embedded/components/IterableEmbeddedViewProps.ts
  src/embedded/components/utils/runButtonClick.ts
  src/index.tsx
Due: lint, types

feat: fix error on embedded button click
  android/src/main/java/com/iterable/reactnative/RNIterableAPIModuleImpl.java
  android/src/main/java/com/iterable/reactnative/Serialization.java
  android/src/newarch/java/com/RNIterableAPIModule.java
  android/src/oldarch/java/com/RNIterableAPIModule.java
Due: none

feat: improve Embedded component with enhanced message fetching and styling updates
  example/src/components/Embedded/Embedded.tsx
  src/api/NativeRNIterableAPI.ts
  src/embedded/classes/IterableEmbeddedMessageElements.ts
  src/embedded/components/IterableEmbeddedBanner/IterableEmbeddedBanner.styles.tsx
  src/embedded/components/IterableEmbeddedBanner/IterableEmbeddedBanner.tsx
  src/embedded/components/utils/getMedia.ts
  src/embedded/constants/embeddedViewDefaults.ts
Due: lint, types

feat: implemented IterableEmbeddedNotification
  example/src/components/Embedded/Embedded.tsx
  src/embedded/components/IterableEmbeddedBanner/IterableEmbeddedBanner.styles.tsx
  src/embedded/components/IterableEmbeddedNotification/IterableEmbeddedNotification.styles.ts
  src/embedded/components/IterableEmbeddedNotification/IterableEmbeddedNotification.tsx
  src/embedded/constants/embeddedViewDefaults.ts
Due: lint, types

feat: initial card view
  example/src/components/Embedded/Embedded.tsx
  src/embedded/components/IterableEmbeddedCard/IterableEmbeddedCard.styles.ts
  src/embedded/components/IterableEmbeddedCard/IterableEmbeddedCard.tsx
Due: lint, types

feat: completed styles for IterableEmbeddedCard
  example/src/components/Embedded/Embedded.styles.ts
  example/src/components/Embedded/Embedded.tsx
  src/core/enums/IterableRetryBackoff.ts
  src/core/images/logo-grey.png
  src/embedded/components/IterableEmbeddedCard/IterableEmbeddedCard.styles.ts
  src/embedded/components/IterableEmbeddedCard/IterableEmbeddedCard.tsx
  src/embedded/components/utils/getDefaultStyle.ts
  src/embedded/components/utils/getStyles.ts
  src/embedded/constants/embeddedViewDefaults.ts
Due: lint, types

feat: refactor embedded click handling and introduce action prefix utilities
  android/src/main/java/com/iterable/reactnative/RNIterableAPIModuleImpl.java
  android/src/newarch/java/com/RNIterableAPIModule.java
  android/src/oldarch/java/com/RNIterableAPIModule.java
  src/api/NativeRNIterableAPI.ts
  src/core/classes/Iterable.ts
  src/core/classes/IterableApi.ts
  src/core/constants/defaults.ts
  src/core/enums/IterableCustomActionPrefix.ts
  src/core/utils/getActionPrefix.ts
  src/core/utils/isIterableAction.ts
  src/embedded/classes/IterableEmbeddedManager.ts
  src/embedded/components/IterableEmbeddedBanner/IterableEmbeddedBanner.tsx
  src/embedded/components/IterableEmbeddedCard/IterableEmbeddedCard.tsx
  src/embedded/components/IterableEmbeddedNotification/IterableEmbeddedNotification.tsx
  src/embedded/components/utils/getUrlFromButton.ts
  src/embedded/components/utils/runButtonClick.ts
Due: lint, types

feat: refactor IterableEmbedded components to utilize useEmbeddedView hook
  src/embedded/components/IterableEmbeddedBanner/IterableEmbeddedBanner.tsx
  src/embedded/components/IterableEmbeddedCard/IterableEmbeddedCard.tsx
  src/embedded/components/IterableEmbeddedNotification/IterableEmbeddedNotification.tsx
  src/embedded/components/IterableEmbeddedView/IterableEmbeddedView.tsx
  src/embedded/components/utils/getMedia.ts
  src/embedded/hooks/useEmbeddedView.ts
  src/embedded/types/IterableEmbeddedViewProps.ts
  src/embedded/utils/getButtons.ts
  src/embedded/utils/getDefaultActionUrl.ts
  src/embedded/utils/getDefaultStyle.ts
  src/embedded/utils/getMedia.ts
  src/embedded/utils/getStyles.ts
  src/embedded/utils/getUrlFromButton.ts
Due: lint, types

feat: add visibility tracking and refactor image dimensions in IterableEmbedded components
  src/embedded/components/IterableEmbeddedBanner/IterableEmbeddedBanner.styles.tsx
  src/embedded/components/IterableEmbeddedBanner/IterableEmbeddedBanner.tsx
  src/embedded/components/IterableEmbeddedCard/IterableEmbeddedCard.constants.ts
  src/embedded/components/IterableEmbeddedCard/IterableEmbeddedCard.styles.ts
  src/embedded/components/IterableEmbeddedCard/IterableEmbeddedCard.tsx
  src/embedded/hooks/useComponentVisibility.ts
Due: lint, types

feat: request notification permission for Android 13+ in App component
  example/src/components/App/App.tsx
Due: lint, types

refactor: trying to get session start and end to work
  example/src/components/Embedded/Embedded.tsx
  example/src/components/User/User.tsx
  src/embedded/classes/IterableEmbeddedManager.ts
  src/embedded/classes/IterableEmbeddedSessionManager.ts
  src/embedded/components/IterableEmbeddedCard/IterableEmbeddedCard.tsx
  src/embedded/hooks/useEmbeddedView.ts
Due: lint, types

refactor: reorganize IterableEmbedded types and interfaces for better structure
  src/core/classes/IterableApi.ts
  src/core/utils/trackingUtils.ts
  src/embedded/classes/IterableEmbeddedManager.ts
  src/embedded/classes/IterableEmbeddedMessage.ts
  src/embedded/classes/IterableEmbeddedMessageElements.ts
  src/embedded/classes/IterableEmbeddedMessageElementsButton.ts
  src/embedded/classes/IterableEmbeddedMessageElementsButtonAction.ts
  src/embedded/classes/IterableEmbeddedMessageElementsDefaultAction.ts
  src/embedded/classes/IterableEmbeddedMessageElementsText.ts
  src/embedded/classes/IterableEmbeddedMessageMetadata.ts
  src/embedded/classes/IterableEmbeddedPlacement.ts
  src/embedded/classes/IterableEmbeddedSession.ts
  src/embedded/classes/IterableEmbeddedSessionManager.ts
  src/embedded/classes/IterableEmbeddedView.ts
  src/embedded/classes/IterableEmbeddedViewConfig.ts
  src/embedded/hooks/useEmbeddedView.ts
  src/embedded/types/IterableEmbeddedMessage.ts
  src/embedded/types/IterableEmbeddedMessageElements.ts
  src/embedded/types/IterableEmbeddedMessageElementsButton.ts
  src/embedded/types/IterableEmbeddedMessageElementsButtonAction.ts
  src/embedded/types/IterableEmbeddedMessageElementsDefaultAction.ts
  src/embedded/types/IterableEmbeddedMessageElementsText.ts
  src/embedded/types/IterableEmbeddedMessageMetadata.ts
  src/embedded/types/IterableEmbeddedPlacement.ts
  src/embedded/types/IterableEmbeddedViewConfig.ts
  src/embedded/types/IterableEmbeddedViewProps.ts
  src/embedded/utils/getButtons.ts
  src/embedded/utils/getDefaultActionUrl.ts
  src/embedded/utils/getMedia.ts
  src/embedded/utils/getStyles.ts
  src/embedded/utils/getUrlFromButton.ts
  src/index.tsx
Due: lint, types

feat: consolidate other hooks into the usembedded hook
  src/core/hooks/useComponentVisibility.ts
  src/embedded/components/IterableEmbeddedCard/IterableEmbeddedCard.tsx
  src/embedded/hooks/useEmbeddedView.ts
Due: lint, types

feat: add TODOs for tracking session and impression events in IterableEmbeddedManager
  TODO.md
  src/embedded/classes/IterableEmbeddedManager.ts
Due: lint, types

chore: update dependencies and improve code formatting
  example/src/hooks/useIterableApp.tsx
  package.json
  src/api/NativeRNIterableAPI.ts
  src/core/classes/Iterable.ts
  yarn.lock
Due: lint, types, version-check

chore: update yarn.lock
  yarn.lock
Due: none

refactor: remove unnecessary NSLog statements from AppDelegate.swift
  example/ios/ReactNativeSdkExample/AppDelegate.swift
Due: none

refactor: remove default constants module and instantiate defaults directly in relevant classes
  src/core/classes/Iterable.ts
  src/core/classes/IterableApi.ts
  src/core/classes/IterableAuthManager.ts
  src/core/constants/defaults.ts
  src/core/constants/index.ts
  src/inApp/classes/IterableHtmlInAppContent.ts
  src/inApp/classes/IterableInAppManager.ts
Due: lint, types

refactor: instantiate IterableInAppManager and IterableAuthManager directly in the Iterable class
  src/core/classes/Iterable.ts
  src/core/classes/IterableAuthManager.ts
Due: lint, types

refactor: remove circular dependency comments in Iterable class
  src/core/classes/Iterable.ts
Due: lint, types

chore: add circular dependency check script to package.json
  package.json
Due: version-check

refactor: temporary fix for circular paths, which break expo
  src/inApp/classes/IterableHtmlInAppContent.ts
  src/inApp/classes/IterableInAppManager.ts
Due: lint, types

chore: update version to 2.1.0-beta.1 in package.json and itblBuildInfo.ts
  package.json
  src/itblBuildInfo.ts
Due: lint, types, version-check

chore: downgrade version to 2.1.0-beta.0 in package.json
  package.json
Due: version-check

chore: update CHANGELOG.md for version 2.1.0-beta.1 with temporary fix for circular paths
  CHANGELOG.md
Due: none

chore: bump version to 2.1.0-beta.1 in package.json
  package.json
Due: version-check

feat: add IterableInboxIcon and IterableInboxSmartIcon components for enhanced icon support
  .eslintrc.js
  README.md
  package.json
  src/inbox/components/IterableInboxIcon.tsx
  src/inbox/components/IterableInboxIconUtils.ts
  src/inbox/components/IterableInboxMessageDisplay.tsx
  src/inbox/components/IterableInboxSmartIcon.tsx
  src/inbox/components/index.ts
  src/index.tsx
Due: lint, types, version-check

chore: update react-native-safe-area-context dependency to optional
  README.md
  package.json
  src/__tests__/SafeAreaContext.test.tsx
  src/core/index.ts
  src/core/utils/SafeAreaContext.tsx
  src/index.tsx
Due: lint, types, version-check

refactor: remove SafeAreaContext exports from index.tsx
  src/index.tsx
Due: lint, types

feat: implement dynamic loading for react-native-webview
  README.md
  package.json
  src/__tests__/SafeAreaContext.test.tsx
  src/inbox/components/IterableInbox.tsx
  src/inbox/components/IterableInboxMessageDisplay.tsx
  src/utils/WebViewLoader.tsx
  src/utils/__tests__/WebViewLoader.test.ts
  yarn.lock
Due: lint, types, version-check

chore: add Netlify configuration and deployment workflow for documentation
  .github/workflows/deploy-docs.yml
  .gitignore
  netlify.toml
Due: none

docs: update README to enhance API documentation section and rename sample projects
  README.md
Due: none

docs: add documentation deployment setup for Netlify with GitHub Actions
  .github/workflows/deploy-docs.yml
  README.md
  docs-deployment.md
Due: none

fix: update label from 'docs' to 'documentation' in deployment workflow for clarity
  .github/workflows/deploy-docs.yml
Due: none

chore: update permissions in deployment workflow for documentation and clarify label usage
  .github/workflows/deploy-docs.yml
Due: none

chore: update Netlify action version in deployment workflow for consistency
  .github/workflows/deploy-docs.yml
Due: none

docs: add more descriptive comments for IterableLogLevel
  example/src/components/Commerce/Commerce.tsx
  example/src/hooks/useIterableApp.tsx
  src/core/enums/IterableLogLevel.ts
Due: lint, types

refactor: remove unnecessary type-only import to simplify Iterable class
  src/core/classes/Iterable.ts
Due: lint, types

refactor: streamline logging by removing logger instances and using static methods in IterableLogger
  src/__tests__/IterableInApp.test.ts
  src/core/classes/Iterable.test.ts
  src/core/classes/Iterable.ts
  src/core/classes/IterableApi.ts
  src/core/classes/IterableAuthManager.ts
  src/core/classes/IterableConfig.ts
  src/core/classes/IterableLogger.ts
  src/core/enums/IterableLogLevel.ts
  src/core/enums/IterableRetryBackoff.ts
  src/inApp/classes/IterableInAppManager.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  version-check: any of: package.json
