Repository Iterable/react-native-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, version-check

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

version-check:
  run: node scripts/checkVersionAndUpdateBuildInfo.js

refactor: improve timeout handling in Iterable class to prevent process from hanging
  src/core/classes/Iterable.ts
Due: lint, types

test: enhance Iterable test suite with additional cases and refactor for clarity
  src/core/classes/Iterable.test.ts
Due: lint, types

chore: update typedoc to version 0.28.13 and clean up tsdoc.json structure
  package.json
  tsdoc.json
  yarn.lock
Due: version-check

chore: add Iterable-iOS-SDK dependency for temporary hotfix
  example/ios/Podfile
Due: none

docs: update README and Podfile with dynamic linkage configuration for Swift modules
  README.md
  example/ios/Podfile
Due: none

chore: update Xcode project configuration to include CocoaPods build phases and settings
  example/ios/ReactNativeSdkExample.xcodeproj/project.pbxproj
Due: none

test: add unit tests for useAppStateListener hook to verify state management and listener behavior
  src/core/hooks/useAppStateListener.test.ts
Due: lint, types

chore: remove unused index.ts hook file
  src/hooks/index.ts
Due: lint, types

test: add unit tests for useDeviceOrientation
  src/core/hooks/useDeviceOrientation.test.tsx
Due: lint, types

test: implement unit tests for useDeviceOrientation hook to ensure accurate orientation detection
  src/core/classes/IterableUtil.test.ts
Due: lint, types

test: add TODO comments to IterableUtil tests for type verification of return values
  src/core/classes/IterableUtil.test.ts
Due: lint, types

test: add unit tests for IterableEdgeInsets
  src/core/classes/IterableEdgeInsets.test.ts
Due: lint, types

test: add unit tests for IterableHtmlInAppContent
  src/inApp/classes/IterableHtmlInAppContent.test.ts
Due: lint, types

test: add mock methods for inbox message retrieval and HTML content generation in MockRNIterableAPI
  src/__mocks__/MockRNIterableAPI.ts
Due: lint, types

test: add unit tests for IterableInAppManager
  src/inApp/classes/IterableInAppManager.test.ts
Due: lint, types

test: add unit tests for IterableInAppMessage
  src/inApp/classes/IterableInAppMessage.test.ts
Due: lint, types

test: add unit tests for IterableInboxDataModel to validate message handling and API interactions
  src/inbox/classes/IterableInboxDataModel.test.ts
Due: lint, types

test: add mock methods for session management and row visibility in MockRNIterableAPI
  src/__mocks__/MockRNIterableAPI.ts
Due: lint, types

test: add tests to IterableInboxDataModel
  src/inbox/classes/IterableInboxDataModel.test.ts
Due: lint, types

chore: release version 2.0.3 with in-app message manager, SDK updates, and various fixes
  CHANGELOG.md
  package.json
  src/itblBuildInfo.ts
Due: lint, types, version-check

docs: update README to restructure SDK sections and add version links for React Native SDK
  README.md
Due: none

test: add test IDs to IterableInboxMessageCell for improved testing and accessibility
  src/inbox/components/IterableInboxMessageCell.tsx
Due: lint, types

test: add unit tests for IterableInboxMessageCell
  src/inbox/components/IterableInboxMessageCell.test.tsx
Due: lint, types

test: add test ID for IterableInboxMessageList to enhance testing capabilities
  src/inbox/components/IterableInboxMessageList.tsx
Due: lint, types

test: add unit tests for IterableInboxMessageList
  src/inbox/components/IterableInboxMessageList.test.tsx
Due: lint, types

chore: update Iterable API dependency to version 3.5.10 and add onAuthFailure event handling
  android/build.gradle
  android/src/main/java/com/iterable/reactnative/RNIterableAPIModuleImpl.java
Due: none

feat: implement onAuthFailure method in RNIterableAPIModule for new architecture
  android/src/newarch/java/com/RNIterableAPIModule.java
  android/src/oldarch/java/com/RNIterableAPIModule.java
  src/api/NativeRNIterableAPI.ts
Due: lint, types

feat: enhance auth failure handling with detailed error reporting and new enum for failure reasons
  android/src/main/java/com/iterable/reactnative/RNIterableAPIModuleImpl.java
  android/src/main/java/com/iterable/reactnative/Serialization.java
  src/api/NativeRNIterableAPI.ts
  src/core/classes/IterableConfig.ts
  src/core/enums/IterableAuthFailureReason.ts
  src/core/enums/index.ts
  src/core/types/IterableAuthFailure.tsx
Due: lint, types

feat: add retry policy configuration to Iterable SDK with linear and exponential backoff options
  android/src/main/java/com/iterable/reactnative/Serialization.java
  example/src/hooks/useIterableApp.tsx
  src/core/classes/IterableConfig.ts
  src/core/enums/IterableRetryBackoff.ts
  src/core/enums/index.ts
  src/core/types/IterableAuthFailure.ts
  src/core/types/IterableRetryPolicy.ts
  src/core/types/index.ts
  src/index.tsx
Due: lint, types

feat: implement handling of auth failure
  android/src/main/java/com/iterable/reactnative/RNIterableAPIModuleImpl.java
  android/src/newarch/java/com/RNIterableAPIModule.java
Due: none

chore: update Iterable-iOS-SDK dependency to version 6.6.1
  Iterable-React-Native-SDK.podspec
  example/ios/Podfile
  example/ios/ReactNativeSdkExample.xcodeproj/project.pbxproj
  ios/RNIterableAPI/ReactIterableAPI.swift
Due: none

feat: add pauseAuthRetries method to RNIterableAPIModule for both architectures
  android/src/main/java/com/iterable/reactnative/RNIterableAPIModuleImpl.java
  android/src/newarch/java/com/RNIterableAPIModule.java
  android/src/oldarch/java/com/RNIterableAPIModule.java
  ios/RNIterableAPI/RNIterableAPI.mm
  ios/RNIterableAPI/ReactIterableAPI.swift
  src/api/NativeRNIterableAPI.ts
Due: lint, types

feat: refactor pauseAuthRetries method in ReactIterableAPI to use IterableAPI directly
  ios/RNIterableAPI/ReactIterableAPI.swift
Due: none

feat: add TODO.md file outlining new Iterable API features and configurations
  TODO.md
Due: none

android example build steps
  .github/workflows/codeql.yml
Due: none

android example build with yarn
  .github/workflows/codeql.yml
Due: none

android example build with yarn, stupid typo
  .github/workflows/codeql.yml
Due: none

android is choaking on a typescript, new ios instructions
  .github/workflows/codeql.yml
Due: none

android is choaking on a typescript, new ios instructions changed from 'build' to 'prepare'
  .github/workflows/codeql.yml
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  version-check: any of: package.json
